
<div class = "container" > 


    <div class="card" style="width: 18rem;">
     <div class="card-body">
       <h5 class="card-title">  {{taskk.id}}   </h5> <!-- Task # -->
       <h6 class="card-subtitle mb-2 text-muted"> {{taskk.title}}  </h6>  <!-- {{task.title}}Card subtitle -->
       <p class="card-text">  {{taskk.note}}  </p>   <!-- {{task.note}} -->
   
       <button class="btn btn-light" [routerLink]="['/tasks']">Back</button> <!--  -->
     </div>
   </div>
   
   
     
   </div>  
     
